body {
    margin-left: 1rem;
    margin-right: 1rem;

    font: 78%/155% Merriweather;
    line-height: 125%;
}

table {
    margin: 0px;
    border: none;
    width: 100%;

    text-align: center;
}

table th {
    padding: 4px;
    background-color: #E1ACF0;
}

table td.company {
    padding-bottom: 0.5rem;

    text-align: left;
    line-height: 105%;
}

table#1 th {
    width: 50%;
}

table#products th:nth-child(1) {
    width: 50%;
}

table#products th:nth-child(2),
table#products th:nth-child(3),
table#products th:nth-child(4) {
    width: 16.6%;
}

.right {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.bg-none {
    background-color: unset;
}

hr {
    color: #E1ACF0;
}
