# composer
/vendor/
/composer.lock

# phpunit
/.phpunit.result.cache
/coverage/

# invoice samples
/invoice.html
/invoice.pdf
/invoice-alternate.pdf

# other
/*.sublime-workspace
/.php-cs-fixer.cache
