@font-face {
    font-family: 'Tangerine';
    src: url('../fonts/tangerine-400.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Tangerine';
    src: url('../fonts/tangerine-700.ttf');
    font-weight: bold;
}

body {
    margin: 0.2rem;
    max-width: 800px;

    font-family: 'Noto Sans', 'Noto Sans JP', 'Noto Sans SC', 'Noto Sans KR', 'Noto Sans Arabic', 'Tangerine', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8em;

    color: #222222;
}

a {
    color: #CB6CE6;
}

hr {
    color: #E1ACF0;
}

table {
    margin: 0 0 1rem 0;
    border: none;
    width: 100%;
    border-spacing: 0;
    text-align: center;
}

table th,
table td {
    padding: 0;
}

table th {
    background-color: #E1ACF0;
}

.right {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.bg-none {
    background-color: unset;
}

table#base {
    margin-bottom: 0;
}

table#base td.company {
    text-align: left;
}

table#base th {
    width: 50%;
}

table#items th,
table#items td {
    padding-right: 1.5rem;
}

table#items th:nth-child(1) {
    width: 50%;
}

table#items th:nth-child(2),
table#items th:nth-child(3),
table#items th:nth-child(4) {
    width: 16.6%;
}

table#items th:nth-child(2),
table#items td:nth-child(2),
table#items th:nth-child(3),
table#items td:nth-child(3) {
    text-align: right;
}

table#items th:last-child,
table#items td:last-child {
    padding-right: 1.5rem;
    text-align: right;
}
