{% for item in invoice.items %}
<tr>
    <td>{{ item.name }}</td>
    <td>{{ item.quantity }}</td>
    <td>{{ item.price|format_currency(invoice.currency, {}) }}</td>
    <td>{{ item.subtotal|format_currency(invoice.currency, {}) }}</td>
</tr>
{% endfor %}
