{% for item in invoice.items %}
<tr>
    <td>{{ item.name }}</td>
    <td>{{ item.quantity }}</td>
    <td>{{ item.price|format_number({fraction_digit: 2}) }}</td>
    <td>{{ item.subtotal|format_number({fraction_digit: 2}) }}</td>
</tr>
{% endfor %}
